.profile__text-info {
  display: flex;
  flex-direction: column;
  gap: 0 18px;
  position: relative;
  width: 100%;
  max-width: 294px;
}

@media screen and (max-width: 768px) {
  .profile__text-info {
    margin-bottom: 36px;
    justify-content: center;
    text-align: center;
  }
}
