.profile__text-info {
  display: flex;
  flex-direction: column;
  gap: 0 18px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .profile__text-info {
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 525px) {
  .profile__text-info {
    max-width: 300px;
   
  }
}