.line {
  width: 100%;
  max-width: 880px;
  height: 1px;
  background-color: #545454;
  opacity: .7;
  margin: 0 auto 36px;
}

@media screen and (max-width: 1000px) {
  .line {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .line {
    margin: 0 auto 38px;
  }
}