.line {
  width: 100%;
  max-width: 880px;
  height: 1px;
  background-color: #545454;
  opacity: .7;
  margin: 0 auto 36.25px;
}

@media screen and (max-width: 1024px) {
  .line {
    max-width: 100%;
  }
}